html, body {
    height: 100%;
    margin: 0;
	font-family: Block;
}

/* FONTS */

@font-face {
	font-family: 'Block';
	src: url('../fonts/Block.eot');
	src: url('../fonts/Block.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Block.woff') format('woff'),
		url('../fonts/Block.ttf') format('truetype');
}
@font-face {
    font-family: 'th_chakra_petch';
    src: url('../fonts/th_chakra_petch.eot');
    src: url('../fonts/th_chakra_petch.eot?#iefix') format('embedded-opentype'),
         url('../fonts/th_chakra_petch.woff2') format('woff2'),
         url('../fonts/th_chakra_petch.woff') format('woff'),
         url('../fonts/th_chakra_petch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
	font-size: 32px;
	font-family: "th_chakra_petch", sans-serif;
}
h1.reg-title {
    font-size: 3em;
    text-align: center;
    color: #fff;
    margin: 50px 0;
}
.normalfont {
    font-family: "Sukhumvit Set", Leelawadee, sans-serif !important;
}
.reg-bg h2 {
    margin: 10px 0 20px 0;
    text-shadow: 4px 4px 0 #e6e6e6;
}
.reg-bg h3 {
    margin: 5px 0 10px 0;
}
.reg-bg h4 {
    margin: 5px 0 7px 0;
}
span.remark {
	color: red;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top : 0;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    -webkit-transition: top 0.6s;
    -moz-transition: top 0.6s;
    transition: top 0.6s;
    z-index: 5;
}
.navbar.hide {
    top : -66px;
}
.navbar.show {
    top : 0;
}
.navbar.bg {
  background-color: #000;
  transition: 0.6s;
}
.navbar__logo {
    font-weight: 700;
    margin-left: 28px;
    float: left;
    -webkit-filter: invert();
    filter: invert();
}
.navbar__logo img {
    width: 120px;
    margin: 23px 0 0 0;
}
.menu {
    float: right;
    margin-right: 20px;
}

.menu a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.menu a:hover {
    background: #fff;
    color: #000;
    -webkit-transition: width 500ms cubic-bezier(0.175, 0.885, 0.320, 1), background 500ms ease;
    -webkit-transition: width 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275), background 500ms ease; 
    -moz-transition: width 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275), background 500ms ease; 
    -o-transition: width 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275), background 500ms ease; 
    transition: width 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275), background 500ms ease;
}
.dropdown-trigger {
    border-right: 2px solid #fff;
    padding-right: 15px !important;
    cursor: pointer;
}
.dropdown-content {
    display: block;
    left: 0px;
    top: -235px;
    position: fixed;
    background-color: #000;
    min-width: 100%;
    box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.04);
    transition: 0.6s;
    line-height: 66px;
    z-index: 4;
}
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: opacity 0.2s;
}
.dropdown-content a:hover {
    opacity: 0.6;
}
.dropdown-content a img {
    margin: 0 auto;
    width: 160px;
    animation-name: sildedown2;
    animation-duration: 0.8s;
}
.downshow {
    top: 0;
    padding-top: 66px;

}

/* DIVS */

/*.container {
    width: 1000px;
    margin: 0 auto;
}*/
.fullscreen {
    /* a full-screen div */
    height:100%;
    min-height:100%;
    width: 100%;
    margin: 0 auto;
}
.hero {
    /* hero section */
    /*background: #000;/*
    background-image: url(../img/hero-bg.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero-btn{
    -webkit-filter: invert();
    filter: invert();
}
.molecules__wrapper {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    -webkit-filter: blur(50%);
    filter: blur(50%);
}
/*hero img{
	max-width: 2000px;
	width: 100%;
}*/
.logo1{
    max-width: 250px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.logo2{
    max-width: 2000px;
	width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.cta-group {
	margin-top: 30px;
}
.camp-stories {
	background: #000;
    background-image: url(../img/dotted-bg.jpg);
    background-size: 30%;
	color: #fff;
}
.spacer {
    width: 100%;
    height: 30px;
}
.reg-bg {
    background: #fff;
    padding: 15px 20px 25px 20px;
    margin-bottom: 30px;
}
.timeline {
    background: #000;
}

/* SUBCAMPS */

iframe.subcamps {
    border: none;
    margin: 0 0 -4px 0;
}

/* GALLERY */

.gallery {
	padding-top: 55px;
	padding-bottom: 40px;
	background: #efefef;
}
.gallery img {
	width: 100%;
	margin-bottom: 15px;
}

/* KAMNIYOM */

.kamniyom {
	padding-top: 35px;
}
.kamniyom-box {
	width: 90%;
	max-width: 980px;
	padding: 30px 15px;
	margin-bottom: 35px;
	color: #fff;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: auto 230px;
	box-shadow: 10px 10px 0 #d6d6d6;
	float: left;
}
.kamniyom-box p {
	font-size: 24px;
}
.kamniyom-box:nth-child(even) {
	float: right;
}
.kamniyom-box:nth-child(1) {
	background-color: #054277;
	background-image: url(../img/avatar-1.png);
}
.kamniyom-box:nth-child(2) {
	background-color: #000423;
	background-image: url(../img/avatar-2.png);
}
.kamniyom-box:nth-child(3) {
	background-color: #054277;
	background-image: url(../img/avatar-3.png);
}
.kamniyom-text {
	width: 100%;
	max-width: 700px;
	margin-left: 20px;
}
.kamniyom-text p.small {
	font-size: 21px;
	margin-top: 8px;
	opacity: 0.7;
}
/*.kamniyom */h1 {
	text-align: center;
	width: 100%;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 40px;
}

/* FAQ */

.faq {
	background: #232223;
	padding: 50px 5px;
}
.faq h1, .footer h1 {
	text-align: center;
	font-size: 50px;
    margin-bottom: 30px;
    color: #fff;
}
button.faq-box {
	background: #fff;
	color: #000;
	padding: 10px 20px;
    border: none;
	border-left: 5px solid #000;
	transition: border-left 0.2s;
    width: 100%;
    text-align: left;
    z-index: 2;
    margin: 10px 0 0 0;
}
button.faq-box:hover {
    border: none;
	border-left: 15px solid #12cffe;
    background: #fff;
    color: #000;
    cursor: pointer;
}
button.faq-box p {
	margin: 5px 0 0 0;
}
.faq-detail {
    background: #fff;
    padding: 10px 20px;
    display: none;
    z-index: 0;
}
.faq-detail p {
    margin: 5px 0 0 0;
    font-size: 1.5rem;
}
.faq-detail.show {
    display: block;
    animation-name: faq-down;
    animation-duration: 0.3s;
}
@keyframes faq-down {
    from {transform: translateY(-15px);}
    to {transform: translateY(0px);}
}

/* BUTTONS */

a.btn, button.ghost {
	border: 2px solid #000;
    background: transparent;
	padding: 12px 20px;
	font-size: 30px;
    font-family: Block;
	display: inline-block;
	margin: 10px 0;
	text-decoration: none;
	color: #000;
    transition: letter-spacing 0.2s, border 0.2s, background 0.2s;
}
a.btn-full, button.ghost-full {
	width: 100%;
	padding: 12px 0;
}
a.btn:hover, button.ghost:hover {
	background: #000;
	color: #fff;
    letter-spacing: 1px;
    border: 2px solid #fff;
}
.footer a.btn {
    color: #fff;
    border: 2px solid #fff;
}
.footer a.btn:hover {
    background: #fff;
    color: #000;
}
.center {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* FOOTER */

.footer {
    background-color: #000;
	background-image: url(../img/dotted-bg.jpg);
    background-size: 30%;
    width: 100%;
    padding: 38px 30px;
    color: #fff;
    border-top: 4px dashed #efefef;
}
.contact {
	margin-top: 15px;
    margin-bottom: 30px;
}

/* FORMS */

input, select, textarea {
    width: 100%;
	font-family: "Sukhumvit Set", -apple-system-font, sans-serif;
}
label {
    margin-top: 12px;
}
.forminput {
    margin-bottom: 10px;
}
input[type="text"], input[type="date"], input[type="email"], input[type="number"], textarea {
    border: none;
    background: #ebebeb;
    font-size: 1em;
    padding: 6px 4px;
}
input[type="text"]:focus, input[type="text"]:active, input[type="date"]:focus, input[type="date"]:active, input[type="email"]:focus, input[type="email"]:active, input[type="number"]:focus, input[type="number"]:active, textarea:focus, textarea:active {
    border-left: 2px solid #000;
    outline: none;
}
select {
    font-size: 1em;
    padding: 3px 4px;
}
input[type="text"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus {
  animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 2px, 0);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {
    .hero img {
        max-width: 250px;
    }
    /*.container {
        width: 100%;
        max-width: 900px;
    }*/
    .dropdown-content a img {
        width: 125px;
    }
	.kamniyom-box:nth-child(1) {
		min-height: 380px;
	}
	.kamniyom-box:nth-child(2) {
		min-height: 420px;
	}
	.kamniyom-box:nth-child(3) {
		min-height: 380px;
	}
    @-webkit-keyframes sildedown {
        from {height:0;}
        to {height:172px;}
    }
    @keyframes sildedown {
        from {height:0;}
        to {height:172px;}
    }
    @-webkit-keyframes sildedown2 {
        from {height:0;}
        to {height:125px;}
    }
    @keyframes sildedown2 {
        from {height:0;}
        to {height:125px;}
    }
}
@media screen and (max-width: 1024px) {
    .dropdown-content a img {
        width: 120px;
    }
    @-webkit-keyframes sildedown {
        from {height:0;}
        to {height:167px;}
    }
    @keyframes sildedown {
        from {height:0;}
        to {height:167px;}
    }
    @-webkit-keyframes sildedown2 {
        from {height:0;}
        to {height:120px;}
    }
    @keyframes sildedown2 {
        from {height:0;}
        to {height:120px;}
    }
}
@media screen and (max-width: 860px) {
	.kamniyom-box {
		min-height: 350px;
		background-size: 200px auto;
	}
	.kamniyom-box:nth-child(2) {
		min-height: 450px;
	}
	.kamniyom-box:nth-child(3) {
		min-height: 360px;
	}
}
@media screen and (max-width: 768px) {
    /*.container {
        width: 100%;
    }*/
    .navbar {
        display: none;
    }
    .hero img {
        max-width: 200px;
    }
    p {
        font-size: 26px;
    }
	.kamniyom-box, .kamniyom-box:nth-child(even) {
		box-shadow: none;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.kamniyom-text {
		margin-left: 0;
	}
}
@media screen and (max-width: 640px) {
	.kamniyom-box:nth-child(1) {
		min-height: 420px;
	}
	.kamniyom-box:nth-child(2) {
		min-height: 500px;
	}
	.kamniyom-box:nth-child(3) {
		min-height: 400px;
	}
}
@media screen and (max-width: 480px) {
    p {
        font-size: 24px;
    }
	.kamniyom {
		padding-bottom: 30px;
	}
	.kamniyom-box {
		width: 100%;
		margin-bottom: 15px;
	}
	.kamniyom-box:nth-child(1) {
		min-height: 650px;
	}
	.kamniyom-box:nth-child(2) {
		min-height: 600px;
	}
	.kamniyom-box:nth-child(3) {
		min-height: 460px;
	}
}
@media screen and (max-width: 360px) {
    p {
        font-size: 22px;
    }
	.hero img {
		max-width: 140px;
	}
    .faq-detail p {
        font-size: 1.3rem;
    }
	.kamniyom-box {
		min-height: 410px;
	}
	.kamniyom-box p {
		font-size: 20px;
	}
	.kamniyom-box:nth-child(1) {
		min-height: 620px;
	}
	.kamniyom-box:nth-child(2) {
		min-height: 580px;
	}
	.kamniyom-box:nth-child(3) {
		min-height: 440px;
	}
}
@media screen and (max-width: 320px) {
	.kamniyom-box {
		background-position: bottom center;
	}
	.kamniyom-box:nth-child(1) {
		min-height: 680px;
	}
	.kamniyom-box:nth-child(2) {
		min-height: 650px;
	}
	.kamniyom-box:nth-child(3) {
		min-height: 570px;
	}
}