html, body {
    height: 100%;
    margin: 0;
	font-family: Block;
}

/* FONTS */

@font-face {
	font-family: 'Block';
	src: url('../fonts/Block.eot');
	src: url('../fonts/Block.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Block.woff') format('woff'),
		url('../fonts/Block.ttf') format('truetype');
}

/* NAVBAR */

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    color: #000;
	letter-spacing: 2px;
	font-size: 22px;
}
.navbar__logo {
    font-weight: 700;
    margin-left: 28px;
    float: left;
}
.navbar__logo img {
    width: 120px;
    margin: 23px 0 0 0;
}
.menu {
    float: right;
    margin-right: 20px;
}
.menu a {
    padding: 10px;
    color: #000;
    text-decoration: none;
}
.menu a:hover {
    color: #484848;
}
.navborder {
    border-right: 2px solid #000;
    padding-right: 15px !important;
}

/* DIVS */

.fullscreen {
    /* a full-screen div */
    height:100%;
    min-height:100%;
    width: 100%;
    margin: 0 auto;
}
.hero {
    /* hero section */
    background: #fff;
    /* background-image: url(../img/hero-bg.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero img {
	max-width: 300px;
	width: 100%
}
.cta-group {
	margin-top: 30px;
}

/* BUTTONS */

a.btn {
	border: 2px solid #000;
	padding: 12px 20px;
	font-size: 30px;
	display: inline-block;
	margin: 10px 0;
	text-decoration: none;
	color: #000;
}
a.btn-full {
	width: 100%;
	padding: 12px 0;
}
a.btn:hover {
	background: #000;
	color: #fff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {
    .hero img {
        max-width: 250px;
    }
}