html, body {
    height: 100%;
    margin: 0;
}
.login-page {
    /* for the login page */
    height:100%;
    min-height:100%;
    width: 100%;
    margin: 0 auto;
    background: url('../img/dark-bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page img {
    width: 90%;
    max-width: 300px;
    margin-bottom: 20px;
}
.login-box {
    background: rgba(255, 255, 255, 0.83);
    -webkit-backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 3px;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1)
}
.login-box button {
    margin-top: 20px;
}
.btn-primary {
    border: none !important;
    background: #24C6DC !important;
    background: -webkit-linear-gradient(-45deg, #24C6DC , #514A9D) !important;
    background: linear-gradient(-45deg, #24C6DC , #514A9D) !important;
    transition: opacity 0.2s;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    opacity: 0.8;
}
.form-control {
    border: none !important;
    border-bottom: 2px solid #000 !important;
    border-radius: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

/* NAVBAR STYLES */

ul.navbar-nav span.glyphicon {
    margin-right: 3px;
}
.navbar-default {
    background: #24C6DC !important;
    background: -webkit-linear-gradient(-45deg, #24C6DC , #514A9D) !important;
    background: linear-gradient(-45deg, #24C6DC , #514A9D) !important;
    border: none !important;
    border-radius: 0 !important;
}
.navbar a {
    color: #fff !important;
    transition: background-color 0.2s, color 0.2s;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #000 !important;
    color: #fff !important;
}
.navbar-default li a:hover {
    background-color: #f1f1f1 !important;
    color: #000 !important;
}
li.nohover a:hover, li.nohover a:active, li.nohover a:focus {
    background-color: transparent !important;
    color: #fff !important;
}
.dropdown-menu>li>a {
    color: #000 !important;
}
.dropdown-menu>li>a:hover {
    color: #767676 !important;
}

/* STAT BOXES */

.stat-box {
    width: 100%;
    padding: 25px 20px 5px 20px;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.stat-box-1 {
    background: #24C6DC !important;
    background: -webkit-linear-gradient(-45deg, #24C6DC , #514A9D) !important;
    background: linear-gradient(-45deg, #24C6DC , #514A9D) !important;
}
.stat-box-2 {
    background: #f46b45;
    background: -webkit-linear-gradient(-45deg, #eea849 , #f46b45);
    background: linear-gradient(-45deg, #eea849 , #f46b45);
}
.stat-box-3 {
    background: #ADD100;
    background: -webkit-linear-gradient(-45deg, #ADD100 , #7B920A);
    background: linear-gradient(-45deg, #ADD100 , #7B920A);
}
.stat-box-4 {
    background: #FF512F;
    background: -webkit-linear-gradient(-45deg, #DD2476 , #FF512F);
    background: linear-gradient(-45deg, #DD2476 , #FF512F);
}
.stat-box p.number {
    font-family: -apple-system-font, sans-serif;
    font-size: 50px;
    font-weight: bold;
}